@font-face {
    font-family: 'SF Pro text';
    font-weight: 400;
    font-style: normal;
    src: url('../assets/fonts/SF_Pro_text-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'SF Pro text';
    font-weight: 500;
    font-style: normal;
    src: url('../assets/fonts/SF_Pro_text-Medium.ttf') format('ttf');
}

@font-face {
    font-family: 'SF Pro text';
    font-weight: 600;
    font-style: normal;
    src: url('../assets/fonts/SF_Pro_text-Semibold.ttf') format('ttf');
}